$color-blue-1000: #152238;
$color-blue-900: #192841;
$color-blue-600: #23395d;
$color-green-1000: #3bb143;
$color-green-500: #9dc183;
$color-while: #fff;
$color-gray-600: #ccc;
$color-gray-100: #EBECF0;
$color-red-1000: #ff0000;
$greater-than-tablet: 996px;