@import '../../../styles/vars';

.notifications {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 100000;
}

.notification {
    background-color: #3bb143;
    padding: 10px 20px;
    font-size: 20px;
    color: $color-while;
}

.success {
    background-color: $color-green-1000;
}

.error {
    background-color: $color-red-1000;
}